@import url(http://mcansh.github.io/yeezy-logo-font/assets/css/font.css);

@font-face {
  font-family: 'Yeezy';
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-regular-webfont.ttf");
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-regular-webfont.woff") format("woff"),
       url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-heavy-webfont.eot") format("eot");
  font-weight: normal; }
@font-face {
  font-family: 'Yeezy';
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-bold-webfont.ttf");
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-bold-webfont.woff") format("woff"),
       url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-heavy-webfont.eot") format("eot");
  font-weight: bold; }
@font-face {
  font-family: 'Yeezy';
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-heavy-webfont.ttf");
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-heavy-webfont.woff") format("woff"),
       url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-heavy-webfont.eot") format("eot");
  font-weight: bolder; }
@font-face {
  font-family: 'Yeezy';
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-light-webfont.ttf");
  src: url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-light-webfont.woff") format("woff"),
       url("../yzyshop/yeezy-logo-font-gh-pages/fonts/yeezy_tstar-heavy-webfont.eot") format("eot");
  font-weight: lighter; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeezy';
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #635E5A;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color:#635E5A;
}

h4 {
    font-size: 20px;
    color: #635E5A;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #635E5A;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

.logo {
    max-width: 100px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e5dab7;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width:30%;
    height:2px;
    background: white;
    position:absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#exit-btn {
    display: none;
}

#main-page-focus {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

#main-page-focus h4 {
    padding-bottom: 15px;
}

#main-page-focus button {
    background: none;
    border: 2px solid;
    margin-top: 40px;
    font-weight: 700;
    cursor: pointer;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-icon {
    font-size: 100px;
    color:#635E5A;
    padding-bottom: 15px;
}

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(70,62,221, 0.1);
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color: #e5dab7;  
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 {
    text-align: center;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    
}

#product-img {
    background-color: brown;
}

#product1 .product .description {
    text-align: center;
    padding: 10px 0;
}

#product1 .product .cart {
    width: 25px;
    height: 25px;
    line-height: 40px;
    font-weight: 500;
    color: #635E5A;
}

#newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #d3d3d3;
    height: 20vh;
}

.column img {
    max-width: 75px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin-bottom:10px;
    color: #635E5A;
}

footer.copyright {
    width: 100%;
    text-align: center;
}

.payments i {
    font-size: 50px;
    margin-right: 10px;
}

@media (max-width:1242px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e5dab7;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.2s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color:#635E5A;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #exit-btn {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #635E5A;
        font-size: 24px;
    }

    #cart-icon {
        display: none;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-size: 30px;
    }

    #product1 .product img {
        width: 350px;
        height: 350px;
        object-fit: contain;
        margin-left: -50px;
    }
}
